.pytest_cache
__pycache__

results
scenarios/202*/
src/main/resources/config/fhirconfig-fvttest-tenant.json
src/main/resources/config/fhirconfig-default-tenant.json
src/main/resources/config/trustStore.pkcs12